<form>
  <mat-dialog-content>
    <div *ngFor="let property of filterProperties">
      <h3 class="uppercase-first-letter" mat-dialog-title>{{ property }}</h3>
      <ul>
        <li *ngFor="let filter of formFilterOptions[property]">
          <mat-checkbox
            name="{{ filter.value }}"
            [ngModel]="filter.isChecked"
            (ngModelChange)="onFilterChange(property, filter.value, $event)"
            class="embed-options"
          >
            <span class="embed">
              <span>{{ filter.value }}</span>
              <span class="emphasis pl-3">{{ filter.description }}</span>
            </span>
          </mat-checkbox>
        </li>
      </ul>
    </div>

    <div>
      <h3 mat-dialog-title>Other</h3>
      <ul>
        <li class="individual-option">
          <mat-select
            [(value)]="maxFlashcards"
            placeholder="Cards per deck"
            name="maxFlashcards"
            [ngModel]="maxFlashcards"
            (ngModelChange)="onMaxFlashcardsChange($event)"
          >
            <mat-option
              *ngFor="let option of maxFlashcardsOptions"
              [value]="option"
            >
              {{ option }} cards per deck
            </mat-option>
          </mat-select>
        </li>

        <li class="individual-option">
          <mat-slide-toggle
            name="isNightMode"
            [ngModel]="isNightMode"
            (ngModelChange)="onNightModeChange($event)"
          >
            Night mode
          </mat-slide-toggle>
        </li>
      </ul>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="centered">
    <div>
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="isFormDirty"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
