<form>
  <mat-dialog-content>
    <h3 mat-dialog-title>Filters</h3>

    <ul>
      <li *ngFor="let filter of filterOptions">
        <mat-checkbox
          name="{{ filter.value }}"
          [ngModel]="filter.isChecked"
          (ngModelChange)="onFilterChange(filter.value, $event)"
        >
          {{ filter.value }}
        </mat-checkbox>
      </li>
    </ul>

    <h3 mat-dialog-title>Other</h3>

    <ul>
      <li class="individual-option">
        <mat-select
          [(value)]="maxFlashcards"
          placeholder="Cards per deck"
          name="maxFlashcards"
          [ngModel]="maxFlashcards"
          (ngModelChange)="onMaxFlashcardsChange($event)"
        >
          <mat-option
            *ngFor="let option of maxFlashcardsOptions"
            [value]="option"
          >
            {{ option }} cards per deck
          </mat-option>
        </mat-select>
      </li>

      <li class="individual-option">
        <mat-slide-toggle
          name="isNightMode"
          [ngModel]="isNightMode"
          (ngModelChange)="onNightModeChange($event)"
        >
          Night mode
        </mat-slide-toggle>
      </li>
    </ul>
  </mat-dialog-content>

  <mat-dialog-actions class="centered">
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="isFormDirty"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
