@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #000;;
}

body {
  background: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 1rem;
}

.material-icons {

  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
  }

  &.md-48 {
    font-size: 48px;
  }

  &.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }

  &.md-clickable {
    cursor: pointer;
  }
}

.centered {
  justify-content: center;
}

.embed-options {

  .mat-checkbox-inner-container {
    margin-top: 2px;
  }

  .mat-checkbox-layout {
    white-space: inherit;
  }
}

.embed {
  display: inline-block;
  margin-left: 23px;
  text-indent: -23px;
}

.emphasis {
  font-style: italic;
}

.pl-3 {
  padding-left: 3px;
}

.uppercase-first-letter::first-letter {
  text-transform: uppercase;
}

.night-mode #container {
  background: #000;

  .content .answer {
    color: #900;
  }
}

.night-mode .mat-dialog-container {
  background: #171717;
  color: #900;

  .mat-checkbox-frame {
    border-color: #900;
  }

  .mat-select-value {
    color: #900;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #900;
  }

  button {
    background-color: #900;
    color: #171717;
  }
}
