.flashcard {
  height: 100vh;
}

.content {
  color: #666;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  line-height: 4rem;

  div {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  div::first-letter {
    text-transform: uppercase;
  }

  .prompt {
    top: 40%;
  }

  .answer {
    color: #696;
    bottom: 40%;
  }
}
