.flashcard {}

.icons > div {
  position: absolute;
}

.settings {
  left: 18px;
  top: 18px;
}

.refresh {
  right: 18px;
  top: 18px;
}

.icon {
  color: #666;
}

.content {
  color: #666;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin-top: 40%;

  .translations {
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .prompt {
    margin-bottom: 2rem;
  }

  .answer {
    color: #696;
  }

  .index {
    bottom: 18px;
    position: absolute;
    right: 18px;
  }
}
