<div class="modal">
  <app-dialog></app-dialog>
</div>

<div class="flashcard">
  <div *ngIf="cards.length" class="content">
    <div class="index">
      {{ index + 1 }} of {{ cards.length }}
    </div>

    <div class="translations">
      <div class="prompt">
        {{ card.english }}
      </div>

      <div class="answer" [@answerState]="answerState">
        {{ card.spanish }}
      </div>
    </div>
  </div>

  <div *ngIf="!cards.length" class="content">
    <div class="translations">
      <div class="prompt">
        Nope
      </div>
    </div>
  </div>
</div>
