.flashcard {
  height: 100vh;
}

.content {
  color: #666;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

  .translations {
    font-size: 5rem;
    line-height: 4rem;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
  }

  div::first-letter {
    text-transform: uppercase;
  }

  .prompt {
    margin-bottom: 7rem;
  }

  .answer {
    color: #696;
  }
}
