<div class="icons">
  <div class="settings">
    <i class="material-icons md-48 md-clickable icon" (click)="openDialog()">settings</i>
  </div>

  <div class="refresh">
    <i class="material-icons md-48 md-clickable icon" (click)="getFlashcards()">layers</i>
  </div>
</div>

<div class="flashcard">
  <div *ngIf="cards.length" class="content">
    <div class="translations">
      <div class="prompt uppercase-first-letter">
        {{ card.translation.english }}
      </div>

      <div class="answer uppercase-first-letter" [@answerState]="answerState">
        {{ card.translation.spanish }}
      </div>
    </div>

    <div class="index">
      {{ index + 1 }} of {{ cards.length }}
    </div>
  </div>

  <div *ngIf="!cards.length" class="content">
    <div class="translations">
      <div class="prompt">
        Please select option for:
      </div>

      <div class="answer" [@answerState]="answerState">
        {{ emptyFilters }}
      </div>
    </div>
  </div>
</div>
