.icons > div {
  position: absolute;
}

.settings {
  left: 18px;
  top: 18px;
}

.refresh {
  right: 18px;
  top: 18px;
}

.icon {
  color: #666;
}

.content {
  color: #666;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  justify-content: center;
  min-height: 100vh;

  .translations {
    font-size: 3rem;
    height: 8rem;
    text-align: center;
    width: 100%;
  }

  .prompt {
    margin-bottom: 2rem;

    .cue {
      font-size: 1rem;
    }
  }

  .answer {
    color: #696;
  }

  .index {
    bottom: 18px;
    position: absolute;
    right: 18px;
  }
}
